<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sayed.tourmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--  hardwareAccelerated and largHeap line is added  to solve java.lang.OutOfMemoryError in my phone-->

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAnimations">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialAnimations">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_signup.LoginActivity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/MaterialAnimations" />
        <activity
            android:name=".login_signup.SignupActivity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/MaterialAnimations" />
        <activity
            android:name=".Profile"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/MaterialAnimations" />
        <activity
            android:name=".events.Events"
            android:label="@string/title_activity_events"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/MaterialAnimations">

        </activity>
        <activity
            android:name=".events.AddEvent"
            android:theme="@style/AppTheme.Dark.DialogBlue_gray">

        </activity>
        <activity
            android:name=".events.event_detail.EventDetail"
            android:label="@string/title_activity_event_detail"
            android:theme="@style/MaterialAnimations">

        </activity>
    </application>

</manifest>